---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post{% if post.category != null %} {{ post.category }}{% endif %}">
    <div class="copy">
        {% if post.title != null %}
        <h2 class="post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
        </h2>
        {% endif %}
        <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
            &mdash;
            <cite>{{ post.author }}</cite>
        </div>
        {% if post.tags %}
        <small class="post-tags">
            {% for tag in post.tags %}
                <a href="#{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </small>
        {% endif %}
        {{ post.content }}
    </div>
    <div class="media">
        <ul class="no-style">
        {% for image in post.images %}
            <li>
                <img src="{{ image }}" data-src="{{ image }}" title="{{ image }}" />
            </li>
        {% endfor %}
        </ul>
    </div>
  </article>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
