// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
    @include flex;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
    position: relative;
    padding-top: 4vh;
    margin-bottom: 5vh;

    @include breakpoint(medium){
        @include flex-wrap(nowrap);
        margin-bottom: 12vh;
    }
    @include breakpoint(large){
        padding-top: 6vh;
    }
}

.masthead-title {
    width: $column-width * 2;
    margin-top: 0;
    margin-bottom: 0;

  a {
      font-weight: 600;
      letter-spacing: .075ex;
      color: $key-color;
      position: relative;
        z-index: 1000;

      &:hover {
          text-decoration: none;
          &::after {
              display: none;
          }
      }

      &::after {
          content: '';
          border-bottom: solid 2px $callout-color;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          z-index: 10;
      }
  }

  small {
    font-size: 75%;
    font-weight: 400;
    letter-spacing: 0;
  }
}

.burgermenu {
    border: none;
    background: none;
    width: $column-width / 4;
    height: $burger-height * 1.5;
    position: relative;
    padding: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    outline: none;

    &.opacity0 {
        opacity: 0;
    }

    &.paused::after, &.paused::before {
        @include animation(none);
        @include animation-fill-mode(forwards);
    }
    &:hover { opacity: 0.5; }
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: $callout-color;
        @include transform(translateY(-($burger-height / 2)));
        @include animation-name(topLineBurger);
        @include animation-duration(0.3s);
        @include animation-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000));
        @include animation-fill-mode(forwards);
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: $callout-color;
        @include transform(translateY($burger-height / 2));
        @include animation-name(bottomLineBurger);
        @include animation-duration(0.3s);
        @include animation-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000));
        @include animation-fill-mode(forwards);
    }
    span {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        border-top: 2px solid $callout-color;
        transition:border-color 0.2s ease;
    }
    &.opened {
        span { border-color: transparent; }
        &:before {@include animation-name(topLineCross); }
        &:after { @include animation-name(bottomLineCross); }
    }
}

// ---------------------------- ABOUT & NAV -------------------------

#about {
    @include animation-duration(.6s);
    @include animation-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000));
    @include animation-fill-mode(forwards);
    @include flex;
    @include flex-wrap(wrap);
    @include align-content(flex-end);
    max-height: 2px;
    height: 86vh;
    overflow: hidden;
    background-color: $callout-color;
    background: transparent url(http://res.cloudinary.com/okayjeffrey/image/upload/b_rgb:000,o_40,q_60/v1437501305/samwas/whos-driving.jpg) no-repeat 16% 40%;
    background-size: 170vh;
    color: white;
    transition: background-position .5s ease-out;

    @include breakpoint(small){
        background-position: 40% 22%;
    }

    @include breakpoint(medium){
    }

    @include breakpoint(large){
        display: block;
        background-size: cover;
        background-position: 50% 22%;
        height: auto;
    }

    &.paused {
        @include animation-play-state(paused);
        height: 2px;
    }
    &.hide { @include animation-name(aboutHide); }
    &.show { @include animation-name(aboutShow); }

    a {
        color: white;
        text-decoration: underline;
        &:hover { text-decoration: none; }
    }

    .about.container {
        @include flex;
        @include flex-wrap(wrap);

        @include breakpoint(medium){
            padding-top: 16vh;
            @include flex-wrap(nowrap);
        }
    }

    .about-us {
        width: $column-width * 5;
    }

    .about-copy {
        max-width: $column-width * 7;
        font-size: 1rem;
        line-height: 1.4;
        @include breakpoint(medium){
            font-size: $h3-font-size;
            line-height: $h3-line-height;
            font-weight: 200;
        }
    }

    h2 {
        margin: 0;
        padding: 1.5rem 0 0 0;
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    nav {
        width: 100%;
        border-top: solid 1px white;
        margin-top: 1vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &.container {
            margin-left:0;
            margin-right:0;
        }

        @include breakpoint(medium){
            &.container {
                max-width: $content-width - 16px;
                margin-left:auto;
                margin-right:auto;
                position: relative;
                right: -.5rem;
            }
        }

        ul {
            @include flex;
            @include justify-content(flex-start);
            li {
                padding-left: 1rem;
                &:first-child { padding:0; }
                &::after {
                    content: '&';
                    padding-left: 1rem;
                    /* color: $key-color; */
                }
                &:last-child:after { content: ''; padding:0; }
            }
            @include breakpoint(large){
                @include justify-content(flex-end);
                margin:0 0.5rem;
            }
        }
    }

}

// ANIMATIONS!!!!!!!!!!!!!!!!

// -- Hamburger animation
@include keyframes(topLineCross) {
  0% { @include transform(translateY(-($burger-height / 2))); }
  50% { @include transform(translateY(0px)); }
  100% { @include transform(translateY(0px) rotate(45deg)); }
}

@include keyframes(bottomLineCross) {
  0% { @include transform(translateY($burger-height / 2)); }
  50% { @include transform(translateY(0px)); }
  100% { @include transform(translateY(0px) rotate(-45deg)); }
}

@include keyframes(topLineBurger) {
  0% { @include transform(translateY(0px) rotate(45deg)); }
  50% { @include transform(rotate(0deg)); }
  100% { @include transform(translateY(-($burger-height / 2)) rotate(0deg)); }
}

@include keyframes(bottomLineBurger) {
  0% { @include transform(translateY(0px) rotate(-45deg)); }
  50% { @include transform(rotate(0deg)); }
  100% { @include transform(translateY($burger-height / 2) rotate(0deg)); }
}

// -- About hide & show
@include keyframes(aboutShow) {
  0% { max-height: 2px; }
  100% { max-height: 2000px; }
}

@include keyframes(aboutHide) {
  0% { max-height: 2000px; }
  100% { max-height: 2px; }
}
